/* 全体 */
body {
	background-color: rgb(237, 255, 219);	 /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header {
	background-color: rgb(173, 255, 123); /* 背景色 */
	color: rgb(255, 255, 255); /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}
/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto;
}
/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}
/* メイン */
main {
	background-color: #E6FFE9;
	min-height: 50px;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 2px solid rgb(0, 0, 0);
}
/* 表 */
table {
    margin: 30px auto;
    min-width: 800px;
}
/* 表見出しセル */
table th {
	background: rgb(173, 255, 123);
	color: #ffffff;
}
/* 送信ボタン */
button {
	margin: 10px;
	padding: 5px 20px;
	background-color: rgb(255, 0, 0);
	color: #ffffff;
	border: none;
	width:150px;
	cursor: pointer;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}


/*メモ改行 */
.memo{
	white-space: pre-wrap;
}