/* 全体 */
body {
	background-color: rgb(255, 255, 255);
	/* 背景色  */
	text-align: center;
	/* 中央寄せ */
	min-width: 900px;
	/* 最小幅 */
}

/* ヘッダー、ナビゲーションメニュー、フッター */
header,
footer {
	background-color: #99CC66;
	/* 背景色 */
	color: rgb(255, 255, 255);
	/* 文字色 */
	padding-top: 5px;
	/* 内側余白(上) */
	padding-bottom: 5px;
	/* 内側余白(下) */
}

/* ヘッダー、ナビゲーション内リンク */
header a {
	color: #ffffff;
}

/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 10px auto;
}

/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}

/* メイン */
main {
	background-color: #E6FFE9;
	min-height: 50px;
	padding: 20px;
}

/* 表線 */
table,
th,
td {
	border-collapse: collapse;
	border: 2px solid rgb(0, 0, 0);
}

/* 表 */
table {
	margin: 30px auto;
	min-width: 800px;
}

/* 表見出しセル */
table th {
	background-color: #99CC66;
	color: #ffffff;
}

.kensaku-button {
	width: 50;
	margin: 0 auto;
	padding: .5em 2em;
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 0 1px rgb(0, 0, 0);
	background-color: rgb(192, 192, 192);
	color: #fff;
	font-weight: 600;
}

.edit-button {
	width: 50;
	margin: 0 auto;
	padding: .9em 2em;
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 0 1px rgb(0, 0, 0);
	background-color: rgb(0, 0, 255);
	color: #fff;
	font-weight: 600;
}

.delete-button {
	width: 50;
	margin: 0 auto;
	padding: .9em 2em;
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 0 1px rgb(0, 0, 0);
	background-color: rgb(255, 0, 0);
	color: #fff;
	font-weight: 600;
}


.touroku-button {
	width: 50;
	margin: 0 auto;
	padding: .5em 2em;
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 0 1px rgb(0, 0, 0);
	background-color: rgb(0, 255, 0);
	color: #fff;
	font-weight: 600;

}



/* (マウスオーバー時) */
.edit-button:hover {
	background-color: rgb(0, 255, 255);
}

.delete-button:hover {
	background-color: rgb(255, 128, 128);
}

img {
	width: 40%;
	border: 2px solid rgb(0, 0, 0);
}

/*メモ改行 */
.memo {
	white-space: pre-wrap;
}

h4 {
	margin: 250px;
	padding: 5px 20px;
}

.date {
	width: 150px;
	background-color: #f0f8ff;
	margin: 20px;
	padding: 5px 20px;
}