
body {
	background-color:#CCFF99;
}

main {
  width: 800px;
  padding: 40px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 12px;
  border: 3px solid rgb(0, 0, 0);
}


form input[type = "text"]:focus,form input[type = "password"]:focus,input[type = "number"]:focus{
  width: 250px;
  background-color: #f0f8ff;
}


form input[type = "text"],form input[type = "password"],input[type = "number"],input[type = "age"]{
  border: 0;
  background: none;
  display: block;
  margin: 0px auto;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px 10px;
  width: 200px;
  outline: none;
  border-radius: 10px;
  transition: 0.25s;
  text-align: center;
}

button {
	margin: 30px;
	padding: 5px 20px;
	background-color: rgb(255, 0, 0);
	color: #ffffff;
	border: none;
	width:150px;
	cursor: pointer;
}

button:hover {
background-color: rgb(255, 128, 128);
}

form select[name="gender"] {
	border: 0;
	background: none;
    display: block;
	margin: 0px auto;
	border: 2px solid rgb(0, 0, 0);
	padding: 5px 10px;
	width: 220px;
	outline: none;
	border-radius: 10px;
	transition: 0.25s;
	text-align: center;
}
