<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>登録内容一覧表示画面</title>
</head>

<body>
	<header>
		<h1>登録内容一覧</h1>
	</header>
	<table border="1">
		<tr>
			<th>日付</th>
			<th>主食</th>
			<th>主菜</th>
			<th>副菜</th>
			<th>牛乳・乳製品</th>
			<th>果物</th>
			<th>メモ</th>
			<th>点数</th>
		</tr>
		
		
		<tr th:each="dish:${dishes}">
			<td th:texxt="${dish.}"></td>
			<form action="/dishes/{id}/edit" method="post"></form>
			</tr>
			
		</tr>
		
		</table>
		
		<form action="/dishes/add" method="post">
			<button>新規作成</button>
		</form>
		
		<a href="/logout">ログアウト</a>

</body>

</html>