<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食事登録画面</title>
</head>

<body>
	<header>
		<h1>登録</h1>
	</header>
	<main>
		<form action="/result" method="post">
			<table border="1">
				<tr th:each="dish:${dishes}">
					<th th:text="${dish.name}"></th>
				</tr>
				<tr>
					<th>主食</th>
					<td>
						<select name="stapleLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td></tr>
					<tr>
						<th>主菜</th>
					<td>
						<select name="sideLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td></tr>
					<tr>
						<th>副菜</th>
					<td>
						<select name="mainLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td></tr>
					<tr>
						<th>牛乳・乳製品</th>
					<td>
						<select name="milkLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td></tr>
					<tr>
						<th>果物</th>
						<td>
						<select name="fruitLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td></tr>
			
			</table>
			<a href="/dishes/note">詳細登録</a><br>
			<a href="/dishes/add"><button>更新</button></a><br>
		</form>
	</main>

</body>

</html>