<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="/css/Edit.css">
<head>
	<meta charset="UTF-8">
	<title>更新画面</title>
</head>

<body>
	<header>
		<h1>更新</h1>
	</header>
	<form th:action="@{/dishes/{id}/edit(id=${result.id})}" method="post">
		<table border="1">
			<tr>
				<th>登録ID</th>
				<td th:text="${result.id}"></td>
			</tr>
			<tr>
				<th>日付</th>
				<td>
					<input type="date" name="recordDate" th:value="${result.recordDate}">
				</td>
			</tr>
			<tr>
				<th>主食</th>
				<td>
					<select name="stapleFood" required>
						<option value="" disabled selected>選択してください</option>
						<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.stapleFood}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>副菜</th>
				<td>
					<select name="sideDish" required>
						<option value="" disabled selected>選択してください</option>
						<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.sideDish}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>主菜</th>
				<td>
					<select name="mainDish" required>
						<option value="" disabled selected>選択してください</option>
						<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.mainDish}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>
					牛乳・乳製品
				</th>
				<td>
					<select name="milkDish" required>
						<option value="" disabled selected>選択してください</option>
						<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.milkDish}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>
					果物
				</th>
				<td>
					<select name="fruitCount" required>
						<option value="" disabled selected>選択してください</option>
						<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'" th:selected="${i == result.fruitCount}">
						</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>
					詳細
				</th>
				
				<td>
					<textarea name="detailMemo" placeholder="詳細"  rows="10" cols="40"></textarea>
				</td>
			</tr>
		</table>
		<button type="submit">更新</button>
	</form>


</body>

</html>
