<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="/css/style.css">
<head>
	<meta charset="UTF-8">
	<title>登録内容一覧表示画面</title>
</head>

<body>
	<header>
		<h1>登録内容一覧</h1>
	</header>
	<table border="1">
		<tr>
			<th>日付</th>
			<th>主食</th>
			<th>主菜</th>
			<th>副菜</th>
			<th>牛乳・乳製品</th>
			<th>果物</th>
			<th>メモ</th>
			<th>点数</th>
		</tr>
		<tr th:each="record:${resultList}">
			<td th:text="${record.recordDate}"></td>
			<td th:text="${record.stapleFood}"></td>
			<td th:text="${record.sideDish}"></td>
			<td th:text="${record.mainDish}"></td>
			<td th:text="${record.milkDish}"></td>
			<td th:text="${record.fruitCount}"></td>
			<td th:text="${record.detailMemo}"></td>
			<td th:text="${record.achievement}"></td>
			<td>
				<form th:action="@{/dishes/{id}/edit(id=${record.id})}" method="get">
				<button type="submit">更新</button>
				</form>
			</td>
		</tr>
		</table>
		
		<form action="/dishes/add" method="get">
			<button>登録画面</button>
		</form>
		
		<a href="/logout">ログアウト</a>

</body>

</html>