<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="/css/note.css">
<head>
	<meta charset="UTF-8">
	<title>食事内容詳細登録画面</title>
</head>

<body>
	<header>
		<h1>食事内容詳細（メモ）</h1>
	</header>

	<form action="/dishes/add" method="post">
		<input type="hidden" name="stapleFood" th:value="${stapleFood}">
		<input type="hidden" name="sideDish" th:value="${sideDish}">
		<input type="hidden" name="mainDish" th:value="${mainDish}">
		<input type="hidden" name="milkDish" th:value="${milkDish}">
		<input type="hidden" name="fruitCount" th:value="${fruitCount}">

		<textarea name="detailMemo" placeholder="詳細"  rows="10" cols="40"></textarea><br>
		<button type="sumbit">登録</button><br>
		<a href="/dishes/add">戻る</a>
	</form>
</body>

</html>