<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食事登録画面</title>
</head>

<body>
	<header>
		<h1>登録</h1>
	</header>
	<main>
		<form action="/dish/add" method="post">
			<table border="1">
				<tr th:each="dish:${dishes}">
					<th th:text="${dish.name}"></th>
				</tr>
				<tr>
					<td>
						<h1>主食</h1>
						<select name="stapleLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td>
					<td>
						<h1>主菜</h1>
						<select name="sideLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td>
					<td>
						<h1>副菜</h1>
						<select name="mainLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td>
					<td>
						<h1>牛乳・乳製品</h1>
						<select name="milkLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td>
					<td>
						<h1>果物</h1>
						<select name="fruitLength">
							<option th:each="i:${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} + 'つ'">
							</option>
						</select>
					</td>
				</tr>
			</table>
		</form>
	</main>

</body>

</html>