<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>
	<header>
	<h1>ログイン画面</h1>
	</header>
	
	<main>
	<span th:text=""></span>
	<span th:text=""></span>
	<form action="/login" method="post">
	<input type="text" name ="email" placeholder="メールアドレス"><br>
	<input type="text" name ="password" placeholder="パスワード"><br>
	<button>ログイン</button>
	</form>
		<form action="/users/add"><button>新規登録</button></form>
	
	</main>	
</body>
</html>