<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="/css/style.css">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>
	<header>
		<h1>ログイン画面</h1>
	</header>
	<main>
		<form action="/login" method="post">
			<span th:text="${message}" style="color: red"></span><br>
			<span th:text="${message1}" style="color: red"></span><br>
			<input type="text" name="email" placeholder="メールアドレス" th:value="${email}"><br>
			<input type="password" name="password" placeholder="パスワード" th:value="${password}"><br>
			<button>ログイン</button><br>
		</form>
		<a href="/user/add"><button>新規登録</button></a>
	</main>

</body>
</html>