<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録</title>
</head>

<body>
	<header>
		<h1>新規アカウント登録</h1>
	</header>
	<main>
		<ul th:if="${errorList}">
			<li th:each="error:${errorList}" th:text="${error}"></li>
		</ul>
	</main>
	<form action="/user/add" method="post">
		<input type="text" name="name" th:value="${name}" placeholder="名前"><br>
		<input type="text" name="email" th:value="${email}" placeholder="メールアドレス"><br>
		<input type="password" name="password" th:value="${password}" placeholder="パスワード"><br>
		<input type="number" name="age" th:value="${age}" placeholder="年齢"><br>	
		<select name="gender">
			<option value="0">-性別を選択してください-</option>
			<option value="1">男性</option>
			<option value="2">女性</option>
		</select><br>
		<button>登録</button>
	</form>


</body>

</html>